.linha1 {
    width: 50px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    display: block;

}

.linha2 {
    width: ;
    height: ;
    border-radius: ;

}

.linha3 {
    width: ;
    height: ;
    border-radius: ;

}
